<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Azara Stock</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <a class="btn btn-default" href="/">Back to Main Page</a>
  <div class="container">
    <h2>Product Details</h2>
    <div class="container" style="text-align: right;">
        <form action="/search_product_by_code" method="post">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchProductModal">
              Search Product
          </button>

          <!-- Search Product -->
          <div class="modal fade" id="searchProductModal" tabindex="-1" aria-labelledby="searchProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="searchProductModalLabel">Search Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group" style="margin-bottom: 10px;">
                      <input type="text" name="code" class="form-control" id="searchProductInput" placeholder="Product Code">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Quantity In -->
        <form action="/update_quantity" method="post">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#QuantityInModal">
              Quantity In
          </button>

          <div class="modal fade" id="QuantityInModal" tabindex="-1" aria-labelledby="QuantityInModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="QuantityInModal">Quantity In</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group" style="margin-bottom: 10px;">
                      <input type="text" name="quantity_in" class="form-control" id="quantity_in" autofocus="autofocus" placeholder="Quantity In">
                      <input type="hidden" name="product_id" value={{row.id}}>
                  </div>
                  <div class="form-group" style="margin-bottom: 10px;">
                      <input type="text" id="created_date" name="created_date" class="form-control" placeholder="Stock In Date">
                  </div>
                  <div class="form-group" style="margin-bottom: 10px;">
                      <textarea name="description" class="form-control" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Quantity Out -->
        <form action="/update_quantity" method="post">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#QuantityOutModal">
              Quantity Out
          </button>

          <div class="modal fade" id="QuantityOutModal" tabindex="-1" aria-labelledby="QuantityOutModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="QuantityOutModal">Quantity Out</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group" style="margin-bottom: 10px;">
                      <input type="text" name="quantity_out" class="form-control" id="quantity_out" autofocus="autofocus" placeholder="Quantity Out">
                      <input type="hidden" name="product_id" value={{row.id}}>
                  </div>
                  <div class="form-group" style="margin-bottom: 10px;">
                      <input type="text" id="stock_out_date" name="created_date" class="form-control" placeholder="Stock Out Date">
                  </div>
                  <div class="form-group" style="margin-bottom: 10px;">
                      <textarea name="description" class="form-control" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Download PDF -->
        <button type="button" id="download_pdf" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#downloadPDFModal">
          Download PDF
        </button>
        <div class="modal fade" id="downloadPDFModal" tabindex="-1" aria-labelledby="downloadPDFModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="downloadPDFModalLabel">Download PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer" style="text-align: left; display: block">
                <form action="/download_product_transaction_pdf" method="post">
                  <div class="col-md-6">
                    <input type="submit" class="btn btn-primary" class="form-control" value="All">
                    <input type="hidden" name="product_id" value={{row.id}}>
                    <input type="hidden" name="product_code" value={{row.code}}>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Download PDF End-->
    </div>
    <h3>Code: {{ row.code }}</h3>
    <h3>STOCK BALANCE: {{ row.quantity }}</h3>
    <div class="row">
      <div class="col-sm-4">
        <h3>TOTAL IN: {{ total_quantity_in }}</h3>
      </div>
      <div class="col-sm-8">
        <p style="text-align:right">Description: {{ row.description }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>TOTAL OUT: {{ total_quantity_out }}</h3>
      </div>
      <div class="col-sm-12">
        <p style="text-align:right">Date Created: {{ row.created_date }}</p>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Quantity In</th>
          <th>Quantity Out</th>
          <th>Description</th>
          <th>Added Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td>{{ quantity_in }}</td>
          <td>{{ quantity_out }}</td>
          <td>{{ description }}</td>
          <td>{{ created_date }}</td>
          <td>
            <div class="btn-group" role="group">
              <div class="col-md-6" style="padding-left: 5px;">
                <button type="button" id="update_product_{{@index}}" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#updateProductTransactionModal_{{@index}}">
                  Edit
                </button>
              </div>
              <div class="col-md-6" style="padding-left: 5px;">
                <form action="/delete_product_transaction" method="post">
                  <input type="submit" class="btn btn-danger btn-sm" class="form-control" value="Delete">
                  <input type="hidden" name="id" value={{ id }}>
                  <input type="hidden" name="quantity_in" value={{ quantity_in }}>
                  <input type="hidden" name="quantity_out" value={{ quantity_out }}>
                  <input type="hidden" name="product_id" value={{ product_id }}>
                </form>
              </div>
            </div>
          </td>
        </tr>
        <div class="modal fade" id="updateProductTransactionModal_{{@index}}" tabindex="-1" aria-labelledby="updateProductTransactionModal_{{@index}}" aria-hidden="true">
          <form id="update_product_form_{{@index}}" action="/update_product_transaction" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateProductTransactionModal_{{@index}}">Edit Product Quantity</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{#if quantity_in}}
                    <div class="form-group" style="margin-bottom: 10px;">
                        <label>Quantity In</label>
                        <input type="text" name="quantity_in" class="form-control" value={{ quantity_in }}>
                    </div>
                  {{else}}
                    <div class="form-group" style="margin-bottom: 10px;">
                      <label>Quantity Out</label>
                        <input type="text" name="quantity_out" class="form-control" value={{ quantity_out }}>
                    </div>
                  {{/if}}

                  <div class="form-group" style="margin-bottom: 10px;">
                      <input type="text" name="created_date" class="form-control" value={{ created_date }}>
                  </div>

                  <div class="form-group" style="margin-bottom: 10px;">
                      <textarea name="description" class="form-control"> {{ description }} </textarea>
                  </div>
                  <input type="hidden" name="product_id" value={{ product_id }}>
                  <input type="hidden" name="id" value={{ id }}>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Confirm">
                </div>
              </div>
            </div>
          </form>
        </div>
        {{/each}}
      </tbody>
    </table>
  </div>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/azara.js"></script>
</body>
</html>